@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:#0c0c0c;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


header{
    width: 100%;
    padding:1rem;
    display:flex;
    margin-bottom: 4%;
    position: sticky;
	justify-content: space-between;
    background-color:rgb(34, 34, 34);
}

.search{
    color:#fff;
    font-size: 1rem;
    margin-top: .5rem;
    padding:0.5rem 1rem;
	border-radius: 50px;
    font-family: inherit;
    background-color: #0c0c0c;
    border: 2px solid #292929;
}


.search:focus{
    outline:0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: rgb(0, 85, 182);
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width: 300px;
    margin: 2rem;
	margin-top: 4%;
    overflow: hidden;
    position:relative;
    border-radius: 10px;
	border: 4px solid #0c0c0c;
	box-shadow: 0 0 20px #03f;
    background-color: var(--secondary-color);
}


.movie img{
    width:100%;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    padding: 0.5rem 1rem 1rem;
    justify-content: space-between;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
	font-weight: bold;
	border-radius: 3px;
    padding: 0.25rem 0.5rem;
    /*background-color: pink;*/
}

.movie-info span.green{
    color:rgb(90, 233, 90);
}

.movie-info span.orange{
    color:rgb(255, 174, 0);
}

.movie-info span.red{
    color:red;
}

.overview{
	left:0;
    right:0;
    bottom:0;
    padding: 1rem;
	color: white;
    max-height: 100%;
    position:absolute;
	overflow-y: scroll;
	text-align: justify;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
    background-color: rgba(15, 15, 15, 0.925);
}

.overview::-webkit-scrollbar{
	width: 5px;
}

.overview::-webkit-scrollbar-track{
	border-radius: 5px;
	-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.overview::-webkit-scrollbar-thumb{
	border-radius: 5px;
	-webkit-box-shadow:inset 0 0 6px rgb(15, 80, 199);
}

.movie:hover .overview{
    transform:translateY(0)
}

#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
	margin-bottom: 6%;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}

.tag{
    margin:5px;
    color:white;
    cursor: pointer;
    padding:10px 20px;
    border-radius: 50px;
    display:inline-block;
    transition: all 0.35s ease-out;
    border: 2px solid rgb(14, 48, 185);
}

.tag:hover{
	background: rgb(14, 48, 185);
}

.tag.highlight{
    background-color: red;
}
.no-results{
    color:white;
}

.pagination{
    display:flex;
    color:white;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
	color:grey;
    cursor:not-allowed;
}

.current{
	font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid orange;
}

.verMas{
    border:0;
	color:white;
    font-size: 16px;
    margin-top: 5px;
	cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgb(15, 80, 199);
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    top: 0;
    left: 0;
    width: 0;
    z-index: 1;
    height: 100%;
    position: fixed;
    transition: 0.5s; 
    overflow-x: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  /* Position the content inside the overlay */
  .contenido {
	  top: 10%;
	  width: 100%;
	  margin-top: 30px;
	  text-align: center;
	  position: relative;
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    display: block;
    font-size: 36px;
    color: #818181;
    transition: 0.3s;
    text-decoration: none;
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
	  top: 20px;
	  right: 45px;
	  font-size: 60px;
	  position: absolute;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media only screen and (max-width: 540px) {
    header{
        width: 100%;
        padding:1rem;
        display:flex;
        margin-bottom: 4%;
        position: sticky;
        justify-content:space-around;
        background-color:rgb(34, 34, 34);
    }
    
    .overlay a {font-size: 20px; color: red;}
    .overlay .closebtn {
		top: 15px;
		right: 35px;
		font-size: 40px;
    }
  }


  .embed.hide{
      display: none;
  }

  .embed.show{
      display: inline-block;
  }

  .arrow{
      position: absolute;
      font-size: 40px;
  }

  .arrow.left-arrow{
      top:50%;
      left:5%;
      transform: translateY(-50%);
  }

  
  .arrow.right-arrow{
    top:50%;
    right:5%;
    transform: translateY(-50%);
}

.dots{
    margin-top: 30px;
}

.dots .dot {
	margin: 5px;
	color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
}

.dots .dot.active{
    border-color: rgb(15, 80, 199);
}