* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	background: #000000;
	color: #ffffff;
}

.contenedor {
	gap: 40px;
	width: 90%;
	display: grid;
	max-width: 1000px;
	margin: 40px auto 100px auto;
	grid-template-columns: repeat(4, 1fr);
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 100%;
	padding: 2px;
    color: #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
    box-shadow: 0 0 20px #03f;
    /*background-color: rgb(17, 17, 17);*/
}

.textdes{
	opacity: 0;
	height: 42%;
	width: 15.2%;
	padding: 10px;
	color: white;
	visibility: hidden;
	position: absolute;
	transition: 0.5s ease-in-out all;
}

.textdes::-webkit-scrollbar{
	width: 5px;
}

.textdes::-webkit-scrollbar-track{
	-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.textdes::-webkit-scrollbar-thumb{
	border-radius: 5px;
	-webkit-box-shadow:inset 0 0 6px red;
}

 .pelicula:hover .textdes{
	/*padding: 42% 0;*/
	opacity: 1;
	height: 20%;
	width: 15.2%;
	overflow: scroll;
	text-align: center;
	margin-top: -355px;
	visibility: visible;
	background-color: rgba(100,0,120,0.4);
 }

.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}

@media only screen and (max-width:540px){
	.contenedor{
		width: 90%;
		grid-template-columns: repeat(1, 1fr);
	}
}